div#footer.footer
  div.container
    hr
    div.social
      h4 Connect with us
      ul
        li
          a(href="/")
            img(src="/images/facebook.png",alt="Facebook")
        li
          a(href="/")
            img(src="/images/twitter.png",alt="Twitter")
        li
          a(href="/")
            img(src="/images/v.png",alt="v")
        li
          a(href="/")
            img(src="/images/plus.png",alt="plus")
    ul.links
      li.first
        a(href="/") Site Map
      li
        a(href="/admin") Admin
      li.last
        a(href="/") Contact Us
    address Copyright &copy; 2012 - 2013 LoveySelf.Com All rights reserved.
    p#back-top
      a(href="#top")
        span